<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aviso de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Aviso de Privacidad</h2>
  <p>Al usar esta aplicación, consientes la recopilación y el uso 
    de tus datos personales conforme a nuestra política de privacidad.</p>
  <p><strong>Datos recopilados:</strong> El único dato personal que se recaba a través de Cuentas claras, es: correo electrónico. Gmail
    no está condicionado a proporcionar el correo electrónico, este dato personal se recopila como dato opcional, 
    para que el usuario reciba mayor y mejor información. Se informa que no se recabarán datos personales sensibles. Serán 
    utilizados para las siguiente finalidades: Única: ayudar con tu organizacion financiera.</p>
  <p><strong>Uso de datos:</strong> La Coordinación de Estrategia Digital Nacional de la Oficina de 
    la Presidencia de la República trata los datos personales antes señalados con fundamento en los artículos 
    6° Base A y 16 segundo párrafo de la Constitución Política de los Estados Unidos Mexicanos; 3°, fracción XXXIII,
     4°, 16, 17 y 18 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados; 1° y 8º,
      fracción I, y transitorios Segundo y Décimo Tercero de la Ley Orgánica de la Administración Pública Federal; 
      Primero, Tercero y Décimo Tercero del Decreto por el que se establece la Ventanilla Única Nacional para los 
      Trámites e Información del Gobierno; las disposiciones Tercera, Cuarta, fracciones I y II, y Décimo Sexta de
       las Disposiciones Generales para la implementación, operación y funcionamiento de la Ventanilla Única Nacional; 
       y los artículos 2, fracción VI; 3, fracción IX y 36, fracciones III y XVII del Reglamento de la Oficina de la Presidencia de la República.</p>
  

  <ion-button expand="block" (click)="aceptar()">Aceptar</ion-button>
</ion-content>
